/* variables */

$primary-font-stack: "Helvetica Neue",Helvetica,Arial,sans-serif;
$primary-color: #333;

/* mixins */

/** clear floats */
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* universal settings */

* {
  box-sizing: border-box;
}

body {
  font: 100% $primary-font-stack;
  color: $primary-color;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* Utility Classes */

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/** Columns */
header {
  background: #000;
  color: #fff;
  line-height: 50px;
}

footer {
  background: #000;
  color: #fff;
  min-height: 100px;
  padding: 1rem;
}

.col {
  padding: .5rem;

  /* debug */
  border: 1px solid #990000;
  background: #fff;
}

.col-4{
  @extend .col;
  grid-column:  span 4;
  grid-row: 1;
}

.col-3{
  @extend .col;
  grid-column:  span 3;
  grid-row: 1;
}

.col-2{
  @extend .col;
  grid-column:  span 2;
  grid-row: 1;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  @extend .container;
}

aside{
  grid-column:  1;
  grid-row: 1;
  background: #ccc;
}

main {
  grid-column: span 1 / 3;
  grid-row: 1;
  background: #aaa;
  margin: 0 auto;
}